.searchContainer{
  width: 250;
  margin-right: 20px 
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #a9a9a9;
    background-color: transparent;
    padding-right: 23px;
  }
  .search-bar input {
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
  }
  ::placeholder {
    color: #a9a9a9;
    font-size: 15px;
  }
  .search-bar button {
    bottom: 0;
  
    cursor: pointer;
    position: relative;
    right: 10px;
  }